* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #121212;
}

button {
  border: none;

  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "PoppinsR";
  src: url(./assets/fonts/poppins-v5-latin-regular.ttf);
}

@font-face {
  font-family: "PoppinsItalic";
  src: url(./assets/fonts/poppins-v5-latin-italic.ttf);
}

@font-face {
  font-family: "PoppinsItalic500";
  src: url(./assets/fonts/poppins-v5-latin-500italic.ttf);
}

@font-face {
  font-family: "Poppins500";
  src: url(./assets/fonts/poppins-v5-latin-500.ttf);
}

@font-face {
  font-family: "Poppins800";
  src: url(./assets/fonts/poppins-v5-latin-800.ttf);
}

.book-page {
  min-height: 100vh;
  display: flex;

  .image-container {
    flex: 1;
    // background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 40vw;
      height: calc(90vh - 80px);
      background-color: aqua;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    background-color: #f3f3f5;

    .back-to-home {
      font-family: "Poppins500";
      margin-bottom: 50px;
      font-size: 0.9rem;
      color: #4a4a4a;
      transition-property: color;
      transition: 0.2s ease-in;
      width: fit-content;

      &:hover {
        color: #121212;
      }
    }

    .authors {
      display: flex;
      margin-bottom: 30px;

      p {
        font-family: "Poppins500";
        font-size: 0.8rem;
        margin-right: 0.3rem;
      }
    }

    .title {
      font-family: "Poppins800";
      font-size: 2rem;
    }

    .snippet {
      width: 35vw;
      margin-bottom: 20px;
      font-family: "PoppinsR";
      font-size: 0.9rem;
    }

    .published-details {
      font-family: "PoppinsItalic";
      font-size: 0.8rem;
      color: #121212;
      margin-bottom: 10px;
    }

    .extra-details {
      display: flex;
      width: fit-content;
      margin-bottom: 10px;

      .badge {
        padding: 5px 15px;
        border-radius: 3px;
        background-color: #99999a;
        width: fit-content;
        margin-right: 5px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "PoppinsR";
        font-size: 0.6rem;
      }
    }

    .has-ebook {
      font-family: "PoppinsR";
      font-size: 0.8rem;
      margin-bottom: 10px;

      span {
        font-family: "Poppins500";
      }
    }

    .button {
      padding: 8px 30px;
      border-radius: 3px;
      background-color: #4887f4;
      width: fit-content;
      margin-bottom: 10px;

      p {
        text-transform: uppercase;
        color: #f3f3f5;
        font-family: "PoppinsR";
        font-size: 0.7rem;
      }
    }
  }
}
